@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap")
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbfb;
}
header {
  position: relative;
  background-image: url(/images/header.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 400px;
  width: 100%;
  color: white;
}
nav {
  background-color: rgba(128, 128, 128, 0.733);
  font-size: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Caveat", cursive;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  padding: 0.5em;
}

nav a,
#goTop a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  text-decoration: underline;
}

header h1 {
  position: absolute;
  bottom: 1em;
  left: 2em;
  font-size: 2.5em;
  text-transform: uppercase;
}

section#folio,
section#logos,
section#services {
  margin: 1em;
  min-width: 300px;
}

section#folio ul,
section#logos ul {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: start;
  gap: 1em;
  margin: 2em;
}

section#folio ul li,
section#logos ul li {
  text-align: center;
  flex: 1 1 20%;
}

section#folio figure img,
section#logos figure img {
  max-width: 100%;
  height: auto;
}

section#folio h2,
section#logos h2,
section#services h2 {
  font-family: "Caveat", cursive;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

section#services article {
  display: flex;
}
section#services article p {
  padding: 1em;
  flex-grow: 1;
  text-align: justify;
}
footer {
  background-color: black;
  height: 250px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div#socials {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

footer div#socials p {
  font-size: 2em;
}

div#goTop {
  color: gray;
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
  font-size: 3em;
}
